body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color:rgba(5, 255, 172, 0.39);

  overflow: hidden;
 }

.container-game {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
}

h1 {
  text-align: center;
}

.telaDesenho {
  border: 2px solid;
  width: 600px;
  height: 600px;
  background-color: white;
}


.backgroundModal {
  background-color: rgba(0, 0, 0, 0.541);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backgroundModal.show {
  display: flex;
}

#myForm {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.instruJogo {
  color: rgb(2, 2, 2);
  text-align: center;
}

.direita {
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

