body {
  background-color: rgba(150, 150, 151, 0.781);
}


h1 {
  text-align: center;
}


.telaDesenho {
  border: 1px solid;
  width: 600px;
  height: 600px;
}

.backgroundModal {
background-color: rgba(0, 0, 0, 0.541);
width: 100vw;
height: 100vh;
position: fixed;
top: 0px;
left: 0px;
display: none;
justify-content: center;
align-items: center;
}

.backgroundModal.show {
  display: flex;
}

#myForm {
  background-color: rgba(162, 236, 156, 0.842);
  align-items: center;
  justify-content: space-between;
  display:flex;
}